In [1]:
print("Hello world")

Hello world

In [1]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

In [2]:
character_name = "John"
character_age = "35"
print("There was once a man named " +character_name + ",")
print("he was " +character_age+ ",")
print("he really liked the name " +character_name + ",")
print("he didnt liked being " +character_age + ".")

There was once a man named John,
he was 35,
he really liked the name John,
he didnt liked being 35.

In [6]:
print("Giraffe\t\tacademy")

Giraffe		academy

In [7]:
phrase = "giraffe academy"
print(phrase.replace("f", "g"))

giragge academy

In [8]:
my_num = -5
print(round(3,2))

3

In [9]:
name = input("Enter your name ")
age = input("Enter your age: ")
print("Hello " +name+ "you are " +age)

Enter your name  niyati
Enter your age:  20

Hello niyatiyou are 20

In [11]:
num1 = input("Enter a number: ")
num2 = input("Enter another number: ")
result = int(num1) + int(num2)
print(result)

Enter a number:  8
Enter another number:  9

17

In [14]:
color= input("Enter a color: ")
plural_noun= input("Enter a plural noun: ")
celebrity= input("Enter a celebrity: ")

print("Roses are " +color)
print(plural_noun+ " are blue ")
print("i love " +celebrity)

Enter a color:  red
Enter a plural noun:  microwaves
Enter a celebrity:  cardi B

Roses are red
microwaves are blue
i love cardi B

In [15]:
lucky_numbers = [32,36,21,27,23,26]
friends= ["niyati", "harshit", "prisha", "divyam", "nishika", "aditi"]
friends2= friends.copy()
print(friends2)

['niyati', 'harshit', 'prisha', 'divyam', 'nishika', 'aditi']

In [18]:
## this is a function
def sayhi(name, age):
    print("hello " +name+ ",you are " +age)

sayhi("niyati", "20")
sayhi("harshit", "19")

hello niyati,you are 20
hello harshit,you are 19

In [19]:
## return statement
def cube(num):
    return num*num*num

result = cube(3)
print(result)

27

In [20]:
## if statement
is_male = True
is_taall = False

if is_male or is_tall:
    print("You are a tall male")
elif is_male and not(is_tall):
    print("You are short male")
elif is_tall and not(is_male):
    print("You are tall but not a male")
else:
    print("You are either a male nor tall or both")

You are a tall male

In [21]:
## if statement and comparisons
def max_num(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3

print(max_num(3,40,5))

40

In [27]:
## building a better calculator
num1 = float(input("Enter first number: "))
op = input("Enter operator: ")
num2 = float(input("Enter second number: "))

if op == '+':
    print(num1 + num2)
elif op == '-':
    print(num1 - num2)
elif op == '*':
    print(num1 * num2)
elif op == '/':
    print(num1 / num2)
else:
    print("Invalid Operator")

Enter first number:  9
Enter operator:  /
Enter second number:  3

3.0

In [29]:
## dictionaries in python
monthConversions = {
    "JAN" : "January",
    "FEB" : "February",
    "MAR" : "March",
    "APR" : "April", 
    "MAY" : "May",
    "6" : "June",
    "7" : "July",
    "8" : "August",
    "9" : "September",
    "10" : "October",
    "11" : "November",
    "12" : "December"
}

print(monthConversions.get("APR"))

April

In [30]:
## while loop
i = 1
while i < 10:
    print(i)
    i += 1

print("Done with loop")

1
2
3
4
5
6
7
8
9
Done with loop

In [32]:
## Building a guessing game
secret_word = "giraffe"
guess = " "
guess_count = 0
guess_limit = 3
out_of_guesses= False

while guess != secret_word and not(out_of_guesses):
    if guess_count < guess_limit:
        guess = input("Enter guess: ")
        guess_count += 1
    else:
        out_of_guesses= True

if out_of_guesses:
    print("Out of guesses, you lose!")
else:
    print("You win!")

Enter guess:  hello
Enter guess:  hi
Enter guess:  giraffe

You win!

In [35]:
## for loop
friends = ["jim", "kevin", "harshit"]
for index in range(len(friends)):
    print(friends[index])
for letter in "Niyati Mittal":
    print(letter)

jim
kevin
harshit
N
i
y
a
t
i

M
i
t
t
a
l

In [36]:
## exponent function
def raise_to_power(base_num, pow_num):
    result = 1
    for index in range(pow_num):
        result = result * base_num
    return result 

print(raise_to_power(3,2))

9

In [39]:
## lists and nested loops
number_grid= [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]

for row in number_grid:
    for col in row:
        print(row)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[4, 5, 6]
[4, 5, 6]
[4, 5, 6]
[7, 8, 9]
[7, 8, 9]
[7, 8, 9]
[0]

In [46]:
### build a translator
def translate(phrase):
    translation = ""
    for letter in phrase:
        if letter.lower() in "aeiou":
            if letter.isupper():
                translation = translation + "G"
            else:
                translation = translation + "g"
        else:
            translation = translation + letter
    return translation

print(translate(input("Enter a phrase: ")))

Enter a phrase:  hello , good morning!

hgllg , gggd mgrngng!

In [48]:
### comments in python
## this prints out a string
print("comments are fun")

comments are fun

In [50]:
## try- except(catching errors)
try:
    number = int(input("Enter a number: "))
    print(number)
except ZeroDivisionError:
    print("Divided by zero")
except ValueError:
    print("Invalid Input")

Enter a number:  8

8

In [55]:
### reading from a file
employee_file= open("employees.txt", "r")
##print(employee_file.read())
##print(employee_file.readline())
print(employee_file.readable())
employee_file.close()

False

In [58]:
### writing and appending a file
employee_file= open("employees.txt", "w")
employee_file.write("Tony - Human Resources")
employee_file.write("\nkelly- Customer Service")
employee_file.close()

In [63]:
## modeules and Pip 
import useful_tools

print(useful_tools.roll_dice(10))

10

In [67]:
### classes and objects
from Student_class import Student

Student1= Student("niyati", "CS", 9.8, False)
Student2 = Student("Harshit", "Business", 8.5, True)

print(Student1.name)
print(Student2.gpa)

niyati
8.5

In [74]:
### building a multiple choice quiz
from Questions import Question

question_prompts= [
    "What color are apples?\n(a) Red/Green\n(b) Purple\n(c) Orange\n\n",
    "What color are Bananas?\n(a) Teal\n(b) Magenta\n(c) Yellow\n\n",
    "What color are Strawberries?\n(a) Yellow\n(b) Red\n(c) Blue\n\n",
]

questions = [
    Question(question_prompts[0], "a"),
    Question(question_prompts[1], "c"),
    Question(question_prompts[2], "b"),
]

def run_test(questions):
    score = 0
    for question in questions:
        answer = input(question.prompt)
        if answer == question.answer:
            score += 1
    print("You got " +str(score) + "/" + str(len(questions)) + " correct")

run_test(questions)

What color are apples?
(a) Red/Green
(b) Purple
(c) Orange

 a
What color are Bananas?
(a) Teal
(b) Magenta
(c) Yellow

 c
What color are Strawberries?
(a) Yellow
(b) Red
(c) Blue

 a

You got 2/3 correct

In [86]:
## object function
from Student import Student

Student1 = Student("Oscar", "Accounting", 3.1, False)
Student2 = Student("Phyllis", "Business", 3.8, False)

print(Student2.on_honor_roll())

True

In [90]:
## inheritance
from Chef import Chef
from ChineseChef import ChineseChef

myChef = Chef()
myChef.make_special_dish()

myChineseChef = ChineseChef()
myChineseChef.make_special_dish()

The chef makes bbq ribs
The chef makes orange chicken

In [91]:
import os
print(os.getcwd())

C:\Users\niyat